<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="css/home.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>

<body>
  <article>
    <header>
      <nav class="nav-menu">
        <span>Icones</span>
      </nav>
    </header>
    <div class="container px-4 custom-margin">
      <div class="row gx-6">
        <div class="col">
          <div class="p-2">
            <h1>Olá meu nome é Gabriel Gava Pinheiro</h1>
            <p>
              Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
              de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
              desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
              de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como
              também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na
              década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente
              quando passou a ser integrado a
              softwares de editoração eletrônica como Aldus PageMaker.
            </p>
            <div>
              <button>Git Hub</button>
              <button>Linkdin</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-2">
            <img src="images/code.jpg" alt="Image description" class="img-home">
          </div>
        </div>
      </div>
  </article>
  <section class="projetos">
    <div class="container">
      <div class="container-flex">
        <div class="box">
          <img src="/images/exemplo.jpg" class="img-fluid">
          <div class="contente-box">
            <h2>IDR - Clima</h2>
            <p>Um aplicativo desenvolvido com o intitudo de fornecer para os agronomos uma meio de se coneectar com o
              campo e saber as condicoes climaticas da regiao</p>
          </div>
          <div class="projeto-mais">
            <a href="#">Saiba mais</a>
          </div>
        </div>
        <div class="box"><img src="/images/exemplo.jpg" class="img-fluid">
          <div class="contente-box">
            <h2>IDR - Clima</h2>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
              de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
              desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
              de modelos de.</p>
          </div>
          <div class="projeto-mais">
            <a href="#">Saiba mais</a>
          </div>
        </div>
        <div class="box"><img src="/images/exemplo.jpg" class="img-fluid">
          <div class="contente-box">
            <h2>IDR - Clima</h2>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
              de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
              desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
              de modelos de.</p>
          </div>
          <div class="projeto-mais">
            <a href="#">Saiba mais</a>
          </div>
        </div>
        <div class="box"><img src="/images/exemplo.jpg" class="img-fluid">
          <div class="contente-box">
            <h2>IDR - Clima</h2>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
              de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
              desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
              de modelos de.</p>
          </div>
          <div class="projeto-mais">
            <a href="#">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="projetos">
    <div class="title-projeto">
      <h1>Casos de estudo</h1>
    </div>
    <div class="estudos">
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="box-estudos">
        <div class="contente-box">
          <h2>IDR - Clima</h2>
          <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
            de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
            desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
            de modelos de.</p>
        </div>
        <div class="projeto-mais">
          <a href="#">Saiba mais</a>
        </div>
      </div>
    </div>
  </section>
  <section class="projetos">

    <div> 
      <div class="container">
        <div class="row">
          <div class="col">
            <ul>
              <li>Java Script</li>
              <li>Node</li>
              <li>React</li>
              <li>Python</li>
              <li>Go Lang</li>
              <li>Flutter</li>
            </ul>
          </div>
          <div class="col">
            <p>
              Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
              de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
              desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
              de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como
              também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na
              década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente
              quando passou a ser integrado a
              softwares de editoração eletrônica como Aldus PageMaker.
            </p>
          </div>
        </div>
      </div>
  </section>

</body>

</html>